<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div class="row">
      <div class="span10">
        <ul>
            <li>USP 1</li>
            <li>USP 2</li>
            <li>USP 3</li>
        </ul>
      </div>
      <div class="span6">
        Sign up
      </div>
    </div>
</body>
</html>
