<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="Ninject.Extensions.Conventions" version="2.2.0.5" />
  <package id="Ninject.MVC3" version="2.2.2.0" />
  <package id="Twitter.Bootstrap" version="1.3.0" />
  <package id="WebActivator" version="1.4.4" />
  <package id="jQuery" version="1.6.4" />
  <package id="postal" version="0.6.4" />
  <package id="RazorEngine" version="2.1" />
  <package id="Simple.Data.Ado" version="0.9.8.1" />
  <package id="Simple.Data.Core" version="0.9.8.1" />
  <package id="Simple.Data.SqlServer" version="0.9.8.1" />
  <package id="Twitter.Bootstrap" version="1.3.0" />
</packages>