
@{
    ViewBag.Title = "GiveCRM";
}

<style>
li  
{
    font-size: 20pt;
    font-weight: bold;
    padding-bottom: 15px;
}
p
{
    xfont-size: 12pt;    
}
</style>
    <div class="row">
      <div class="span10">
        <ul>
            <li>Simple sign up</li>
            <li>1 to 100,000 members</li>
            <li>Free</li>
            <li>Coming soon...</li>
        </ul>
        <img alt="" src="/Content/Images/GiveCRMBox3D_344x400.png" />
      </div>
      <div class="span6">
        <h2>About GiveCRM</h2>
        <p>GiveCRM is a quality open-source CRM, designed for charities. The aim is to be incredibly straightforward to get started and use, with the added bonus of being free.</p>
        <h2>History</h2>
        <p>GiveCRM was born at <a href="http://www.givecamp.org.uk/" target="_blank">GiveCamp UK</a> 2011.</p>
        <p><em>"Through our conversations with the charities that we have been working with, Paul and I came to discover that technology for charitable organisations is a lucrative business! When I spoke to Mel of The You Can Hub earlier this year, she pointed out research that showed the main areas for concern for charities and non-profits were fundraising and event management – two areas where effective management of data is pretty critical."</em></p>
        <p><em>"This seemed crazy to us both. No charity should have to pay that kind of money to do good work in the community."</em></p>
        <h2>Future</h2>
        <p>A charity agnostic, open source CRM application that can be used to manage tasks associated with member/donor management,  reporting, creating mailing lists and recording event activities and tasks.</p>
        <p>The groundwork is in place and the GiveCRM team are working to deploy our first version.</p>
        <p>Follow <a href="http://twitter.com/#!/givecrm" target="_blank">@@GiveCRM</a> to stay updated.</p>
      </div>
    </div>
