
@{
    ViewBag.Title = "GiveCRM";
}

<style>
li  
{
    font-size: 20pt;
    font-weight: bold;
    padding-bottom: 15px;
}
</style>
    <div class="row">
      <div class="span10">
        <ul>
            <li>Simple sign up</li>
            <li>1 to 100,000 members</li>
            <li>Free</li>
        </ul>
        <img alt="" src="/Content/Images/GiveCRMBox3D.jpg" height="300px" />
      </div>
      <div class="span6">
        @Html.Partial("SignUpForm")
      </div>
    </div>
