
@{
    ViewBag.Title = "GiveCRM";
}

    <div class="row">
      <div class="span10">
        <ul>
            <li>Simple sign up</li>
            <li>1 to 100,000 members</li>
            <li>Free</li>
        </ul>
      </div>
      <div class="span6">
        @Html.Partial("SignUpForm")
      </div>
    </div>
