@model object
@{
    ViewBag.Title = "GiveCRM :: Add your list of members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="span16">
        <h1>Add your list of members</h1>
    </div>
</div>
<div class="row">
    <div class="span12 offset2">
        <h2>1. Download the template</h2>
        <div>
            <p>To upload your member list, we need the data in our format.</p>
            <p>@Html.ActionLink("Download the Excel template", "Template")</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12 offset2">
        <h2>2. Enter your data into the template spreadsheet</h2>
    </div>
</div>
<div class="row">
    <div class="span12 offset2">
        <h2>3. Upload the spreadsheet</h2>
        <input type="file" />
        <button class="btn primary large">Upload your member list</button>
    </div>
</div>
